{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/test.css' %}">
<link rel="stylesheet" href="{% static 'css/test2.css' %}">
<title>Home</title>
{% endblock %}

{% block content %}
<h1 style="text-align:center;">블로그 프로젝트</h1>

{% if user.is_authenticated %}
    아이디 : {{user.username}} / 닉네임 : {{user.nickname}} / 대학 : {{user.university}} / 위치 : {{user.location}}
{% endif %}      

<br>
<a href="{% url 'new' %}">새로운 글 만들기</a>

    {% for blog in blogs.all %}
        
    <div style="margin:10px; padding:5px; border:5px solid; border-color: rgb(255, 193, 236); 
        border-radius: 10px; background-color: #ffffc2; ">
    <h3>{{blog.title}}</h3>
    {{blog.date}}
    <br>
    {{blog.summary}}
    <a href="{% url 'detail' blog.id%}">...more</a>
    </div>
        
    {% endfor %}
{% endblock %}

